<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee List</title>
	
</head>
<body>
    <h1>Employee List</h1>
    <a href="/employees/new">Add New Employee</a><br>
    <table border="2">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
				
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.position}"></td>
                <td th:text="${employee.department}"></td>
                <td th:text="${employee.salary}"></td>
                <td>
                    <a th:href="@{/employees/edit/{id}(id=${employee.id})}">Edit</a>
                    <a th:href="@{/employees/delete/{id}(id=${employee.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
